<h2>Demo</h2>
<ul>
  <li><a routerLinkActive="active" routerLink="template-vs-embedded-view/basic">Template vs Embedded - Local CD</a></li>
  <li><a routerLinkActive="active" routerLink="template-vs-embedded-view/detach">Template vs Embedded - Detach</a></li>
  <li><a routerLinkActive="active" routerLink="template-vs-embedded-view/lazy">Template vs Embedded - Lazy</a></li>
</ul>
<h2>Playground</h2>
<ul class="mb-5">
  <li><a routerLinkActive="active" routerLink="template-vs-embedded-view/playground">Template vs Embedded - playground</a></li>
</ul>
<router-outlet></router-outlet>
